
  <div id="contact">
  	<div class="line5">					
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<h3>Get In Touch With Me!! </h3>
					<p>Contact info</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-xs-12 forma">
					<form>
						<input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Name *'/>
						<input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *'/>
						<input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Subject'/>
						<textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
						<div class="cBtn col-xs-12">
							<ul>
								<li class="clear"><a href="#"><i class="fa fa-times"></i>clear form</a></li>
								<li class="send"><a href="#"><i class="fa fa-share"></i>Send Message</a></li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-xs-12 cont">
					<ul>
						<li><i class="fa fa-home"></i>9552, 115 ST, Jamaica NY 11419</li>
						<li><i class="fa fa-phone"></i>+1 347 861 8000</li>
						<li><a href="#"><i class="fa fa-envelope"></i>desaiayushi9@gmail.com</li></a>
						<li><a href="https://www.facebook.com/ayushi.desai.908" target="_blank"><i class="fa fa-facebook"></i>Facebook</li></a>
						<li><a href="https://github.com/ayushi27293" target="_blank"><i class="fa fa-github"></i>GitHub</li></a>
						<li><a href="https://www.linkedin.com/in/ayushidesai/" target="_blank"><i class="fa fa-linkedin"></i>LinkedIn</li></a>
					</ul>
				</div>
			</div>
		</div>
		<div class="line6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.2748574127736!2d-73.83229204894225!3d40.68994387923291!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2674df565883b%3A0x1ebbb41ea1421db6!2s9552+115th+St%2C+Jamaica%2C+NY+11419!5e0!3m2!1sen!2sus!4v1489514284167" width="100%" height="750" frameborder="0" style="border:0"></iframe>			
		</div>
		<div class="container">
			
			</div>
			</div>
		</div>
		<div class="line7">
			<div class="container">
				<div class="row footer">
					<div class="col-md-12">
						<h3>Follow me!</h3>
						<!-- <div class="fr">
						<div style="display: inline-block;">
							<input class="col-md-6 fEmail" name='Email' placeholder='Enter Your Email'/>
							<a href="#" class="subS">Subscribe!</a>
						</div>
						</div> -->
					</div>
					<div class="soc col-md-12">
						<ul>
							<li><a href="https://github.com/ayushi27293" target="_blank"><i class="fa fa-github socialicon" aria-hidden="true"></i></a></li>
							<li><a href="https://www.facebook.com/ayushi.desai.908" target="_blank"><i class="fa fa-facebook socialicon" aria-hidden="true"></i></a></li>
							<li><a href="https://www.linkedin.com/in/ayushidesai/" target="_blank"><i class="fa fa-linkedin socialicon" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
			<div class="container" style="background-color: black; width: 100%">
			<div class="col-md-6 text-left copy">
				<p>Copyright &copy; 2014 Timber HTML Template. All Rights Reserved.</p>
			</div>
			<div class="col-md-6 text-right dm">
				<ul id="downMenu">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="https://www.linkedin.com/in/ayushidesai/" target="_blank">LinkedIn</a></li>
					<li><a href="https://www.facebook.com/ayushi.desai.908" target="_blank">Facebook</a></li>
					<li><a href="https://github.com/ayushi27293" target="_blank">GitHub</a></li>
				</ul>
			</div>
			<br>
			<br>
			<br>
			<br>
		</div>
  </div>		