<div id="education">  	
		<div class="line3">
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<span name="projects" id="projectss"></span>
					<h3>Education</h3>
					<p>Education is what survives when what has been learned has been forgotten!!</p>
					</div>
				</div>
			</div>
		</div>     
  
  
    <div class="container" style="text-align: center;">
		
		<div class="row">
			<!-- filter_block -->
		<div class="col-md-6">
			<img class="ayushiuniversity" src="images/mu.jpg">
			<h4>Mumbai University</h4>
			<p>B.E in Information Tecnology</p>
				<a href="http://mu.ac.in/portal/" target="_blank"><i class="fa fa-globe socicon"></i></a>
				<a href="https://www.facebook.com/Official-University-of-Mumbai-1592096307699282/" target="_blank"><i class="fa fa-facebook-square socicon"></i></a>
				<a href="https://twitter.com/uni_mumbai?lang=en" target="_blank"><i class="fa fa-twitter socicon" ></i></a>
				
			</div>
			<div class="col-md-6">
				<img class="ayushiuniversity" src="images/pace.jpg">
				<h4>Pace University</h4>
				<p>MS in Information System</p>
				<a href="https://www.pace.edu" target="_blank"><i class="fa fa-globe socicon"></i></a>
				<a href="https://www.facebook.com/paceuniversity/" target="_blank"><i class="fa fa-facebook-square socicon"></i></a>
				<a href="https://twitter.com/PaceUniversity?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank"><i class="fa fa-twitter socicon" ></i></a>
			</div>		
		</div>
	</div>
</div>
