<button type="button" class="btn btn-primary" style="display: none;" data-toggle="modal" id="modalbutton" data-target="#modaldiv" data-whatever="@getbootstrap">Job Function</button>

<div id="experience">  	
		<div class="line3">
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
						<h3>Industrial Experience!</h3>
					</div>
				</div>
			</div>
		</div>     
		<div class="container" style="text-align: center;">
			<div class="col-md-4 Des">
				<div class="experienceDIv" id="1_ex">
					<img src="images/vnd.jpg" class="img-circle img-thumbnail img-responsive experienceImage">
					<h2>VND Wealth Managers Pvt Ltd</h2>
					<p>Data Analyst </p>
				</div>
			</div>
			<div class="col-md-4 Ver">
				<div class="experienceDIv" id="2_ex">
					<img src="images/innovent.jpg" class="img-circle img-thumbnail img-responsive experienceImage">
					<h2>INOVENT Ltd.</h2>
					<p>Technical Analyst </p>
				</div>
			</div>
			<div class="col-md-4 Fully">
				<div class="experienceDIv" id="3_ex">
					<img src="images/oscarmobitech.png" class="img-circle img-thumbnail img-responsive experienceImage">
					<h2>Oscar Mobitech</h2>
					<p>Business Analyst </p>
				</div>
			</div>
		</div>
  </div>

<script>
    
    $('#modaldiv').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ')
  modal.find('.modal-body input').val("ssssssssssssssss")
})

</script>

<div class="modal fade" id="modaldiv" tabindex="-1" role="dialog" aria-labelledby="modaldivLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="modaldivLabel"></h2>
        
      </div>
      <div class="modal-body" style="font-size: 20px;">
        
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>









































<!-- <div class="row Fresh">
					<div class="col-md-4 Des">
					<button type="button" class="btn btn-primary" style="display: none;" data-toggle="modal" id="modalbutton" data-target="#modaldiv" data-whatever="@getbootstrap">Job Function</button>

						<div class="experienceDIv" id="1_ex">
							<img src="images/Leapdoctor.jpg" class="img-circle img-thumbnail img-responsive experienceImage">
							<p class="text">SHOW MORE</p>
							<h4>Leapdoctor.com</h4>
							<p>IT Admin Intern </p>
						</div>
					</div>
					<div class="col-md-4 Ver">
						<div class="experienceDIv" id="2_ex">
							<img src="images/innovent.jpg" class="img-circle img-thumbnail img-responsive experienceImage">
							<h4>INOVENT Ltd.</h4>
							<p>Business Analyst </p>
						</div>
					</div>
					<div class="col-md-4 Fully">
						<div class="experienceDIv" id="3_ex">
							<img src="images/oscarmobitech.png" class="img-circle img-thumbnail img-responsive experienceImage">
							<h4>Oscar Mobitech</h4>
							<p>Tecnical Analyst </p>
						</div>
					</div>		
				</div> -->