<div id="projects">
  	<div class="line4">		
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
					<h3>PROJECTS</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
				<div class="row news">
					<div class="col-md-6 text-left">
					<img class="img-responsive picsGall" src="images/projects/comp.jpg"/>
					<h3><a href="#">Computer Usage Time Controller</a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>April 25, 2014</li>
					</ul>
					<p>•	Developed database for education purpose where faculties can monitor the student records, assignment’s and research.
•	Surveyed among 100 students for the feedback and area of improvements to be published for next version.
•	Supported educational institutes to be up to date with their admin work and management and ease to use the data easily. A very helpful project in college so to share assignments and latest updates of college between students and teachers.</p>
					<hr class="hrNews">
					</div>
					<div class="col-md-6 text-right">
					<img class="img-responsive picsGall" src="images/projects/eco-eye.jpg"/>
					<h3><a href="#">ECO-EYE (UX Design Project)</a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>Dec'2016</li>
					</ul>
					<p>Designed a web- based application which motivates the user to defer and plan their electric usage to avoid peak times. The app showed an appropriate time to use the electronic devices in the house. Build the final model using balsamic, Photoshop, invasion. <a class="readMore" href="https://projects.invisionapp.com/share/FP9O04NE7#/screens/210443222_SignUp" target="_blank">Read More <i class="fa fa-angle-right"></i></a></p>
					<hr class="hrNews">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row news2 news">
					<div class="col-md-6 text-left">
					<img class="img-responsive picsGall" src="images/projects/alcohal.jpg"/>
					<h3><a href="#">Analysis of Student Alcohol consumption </a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>Dec'2016</li>
					</ul>
					<p>Predicted analyzing the data set to find answer to the ever daunting question, what are the factors influencing student’s alcohol consumption in R Language Analyzed with different variables and predicted through knn and decision tree analysis of the result and the reason behind the students consuming alcohol. This resulted into 86% of efficiency and for the expected result. Data mining techniques like knn and decision tree was used for the results. 
 </p>
					<hr class="hrNews">
					</div>
					<div class="col-md-6 text-right">
					<img class="img-responsive picsGall" src="images/projects/decisionmaking.jpg"/>
					<h3><a href="#"> Data Analysis for Decision Making </a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>March'2016</li>
					</ul>
					<p>Evaluated applying statistical methods and presenting results for making better decisions using descriptive statistics, probability theory-including important statistical distributions, estimation, hypothesis testing and simple and multiple regression analysis using Stat tool.Solved problems related on big data sets and reduced into small and reduced data which would help to simplified large problem.
 </p>
					<hr class="hrNews">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row news2 news">
					<div class="col-md-6 text-left">
					<img class="img-responsive picsGall" src="images/projects/aws.png"/>
					<h3 ><a href="#">Amazon web services S3 bucket</a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>Jan 15, 2017</li>
					</ul>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit quisque tempus ac eget diam et laoreet phasellus ut nisi id leo molestie. adipiscing vitae vel quam proin eget mauris eget. </p>
					<hr class="hrNews">
					</div>
					<div class="col-md-6 text-right">
					<img class="img-responsive picsGall" src="images/projects/movie.jpg"/>
					<h3><a href="#">Movie analysis in New York</a></h3>
					<ul>
						<li><i class="fa fa-calendar"></i>April' 2016</li>
					</ul>
					<p>Analyzed dataset and categorized all the subcategory for which people like which kind of movies in R 
Sorted all the data and created the outcome with the graph of which category example business people, children’s, teenagers like which kind of movies .Clean the data and created a specific outcome for the most popular and most kind of running and popular movie   
 </p>
					<hr class="hrNews">
					</div>
				</div>
			</div>
			
			
			
			<div class="container hideObj2" style="display:none;">
				
			</div>
  </div>
  