
 <div id="skills">  	
		<div class="line3">
			<div class="container">
				<div id="project1" ></div>
				<div class="row Ama">
					<div class="col-md-12">
					<span name="projects" id="projectss"></span>
					<h3>Skill Sets</h3>
					<p>Right here we've got something you gonna love</p>
					</div>
				</div>
			</div>
		</div>     
  
  
    <div class="container">
		
		<div class="row">
			<!-- filter_block -->
				<div id="options" class="col-md-12" style="text-align: center;">	
					<ul id="filter" class="option-set" data-option-key="filter">
						<li><a class="selected" href="#filter" data-option-value="*" class="current">Tecnical Skills</a></li>
						<li><a href="#filter" data-option-value=".polygraphy">Analytical Skills</a></li>
						<li><a href="#filter" data-option-value=".branding">Database tools</a></li>
						<li><a href="#filter" data-option-value=".web">interpersonal Skills</a></li>
						<li><a href="#filter" data-option-value=".text_styles">Development skills</a></li>
					</ul>
				</div><!-- //filter_block -->
		
		
		
			<div class="portfolio_block columns3  pretty" data-animated="fadeIn">	
					<div class="element col-sm-4  gall branding">
						<div class="progB chart" data-percent="90" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="90">
								 <span class="percent">90</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>MySQL</h3>
						</div>
					</div>
					<div class="element col-sm-4 gall branding">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Microsoft Access</h3>
							
						</div>
					</div>
					<div class="element col-sm-4 gall branding">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>WordPress</h3>
							
						</div>
					</div>

















					<div class="element col-sm-4 gall web">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>R Sudio</h3>
							
						</div>
					</div>
					<div class="element col-sm-4 gall web">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Big Data</h3>
							
						</div>
					</div>
		
					












					<div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="80" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="80">
								 <span class="percent">80</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Java</h3>
							
						</div>
					</div>
					<div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="75" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="75">
								 <span class="percent">75</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>NodeJS</h3>
							
						</div>
					</div>
					<div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Php</h3>
							
						</div>
					</div><div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="70" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="70">
								 <span class="percent">70</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>AWS</h3>
							
						</div>
					</div><div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="90" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="90">
								 <span class="percent">90</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>HTML5</h3>
							
						</div>
					</div><div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>R</h3>
							
						</div>
					</div><div class="element col-sm-4 gall text_styles">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>Big Data</h3>
							
						</div>
					</div>






					<div class="element col-sm-4 gall polygraphy">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>WordPress</h3>
							
						</div>
					</div>		
					<div class="element col-sm-4 gall polygraphy">
						<div class="progB chart" data-percent="64" data-animate="3500">
							<div class="chart chart-content">
								<div class="percentage" data-percent="64">
								 <span class="percent">64</span>
								</div>
							</div>
						</div>
						<div class="textP">
							<h3>WordPress</h3>
							
						</div>
					</div>			
			</div>
			
			
				
					
		</div>
			
			<script type="text/javascript">
				jQuery(window).load(function(){
					items_set = [
					
						{category : 'branding', lika_count : '77', view_count : '234', src : 'images/prettyPhotoImages/pic9.jpg', title : 'Foil Mini Badges', content : '' },
						
						{category : 'polygraphy', lika_count : '45', view_count : '100', src : 'images/prettyPhotoImages/pic7.jpg', title : 'Darko – Business Card Mock Up', content : '' },
						
						{category : 'text_styles', lika_count : '22', view_count : '140', src : 'images/prettyPhotoImages/pic8.jpg', title : 'Woody Poster Text Effect', content : '' }
						

					];
					jQuery('.portfolio_block').portfolio_addon({
						type : 1, // 2-4 columns simple portfolio
						load_count : 3,
						
						items : items_set
					});
					$('#container').isotope({
					 animationOptions: {
						 duration: 900,
						 queue: false
					  }
					});
				});
			</script>
		</div>
  </div>  
  