<div class="container" id="summary">
			<div class="row">
				<center><h1>Summary</h1></center>
				<div style="font-size: 20px; font-weight:400;">
				<p><span style="font-size: 2em;">I</span> have experience of over more than 3 years of involvement in Technology with huge tech organizations and developing start-up firms like <b>Leap Doctor, Inovent Ltd and Oscar Mobitech</b> extensive working experience in <b>Business Analysis, Web Development, Supply chain management</b> with capacity to investigate, plan and actualize demonstrated arrangements.</p>

				<p>I have a strong understanding of<b> SQL, Data Warehouse, ETL Technologies, BI, R, Data Mining, Agile methodology, Data Analysis and Visualization using Business Objects,Big Data, Tableau, SPSS & Microsoft Office(Excel,Word,Powerpoint,Access).</b></p>
				<p>Currently I am a graduate student at Pace University, pursuing Master in Information systems a major <b>(graduating in April 2017)</b>.  I am looking for a full time job opportunities’ in following fields.</p>
				<hr>
				<h3>Area of Interest:</h3>
				<ul><li>Business Analysis</li> 
				<li>BusinessUI/UX designing</li>
				<li>BusinessWeb Development</li> 
				<li>SQL programming</li>
				<li>Business Intelligence</li>
				<li>Data Mining and warehousing</li>
				<li>Database Programming, ETL</li>
				</ul>
				<center><a href="/images/AyushiDesaiResume.pdf" target="_blank"><button class="btn btn-info">View Resume</button></a></center>
				</div>
			</div>
		</div>