<div id="testimonial">  	
		<div class="line3">
			<div class="container">
				<div class="row Ama">
					<div class="col-md-12">
						<h3>What People think about me (Testimonial)!</h3>
					</div>
				</div>
			</div>
		</div>     
  
  
    <div class="container" style="text-align: center;">
		
		<div style="position: relative;">
		
			<div class="container">
				<div class="row about">
					<div class="col-md-6">
						<div class="about1">
							<div class="col-md-9">
								<h3>Nupur Desai - Motilal Oswal Company.</h3>
								<p>I had the privilege of working with Ayushi on a couple IT Projects at the VND Funds. Ayushi did not fail me single time. Ayushi is a highly organized, goal oriented, independent and hard working perfectionist always ready to put all her energy and stamina to get the job done. Well educated and energetic. Is able to work in a fast-paced environment. Ayushi is probably one of the best strategists I have ever met in my life and one of the smartest professionals I have ever worked with.</p>
								<p>Dedicated to work and eager to learn new things.</p>
							</div>
							<div class="col-md-3">
								<img class="testimonial_image" src="images/picAbout/nupur.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about2">
							<div class="col-md-3">
								<img class="testimonial_image" src="images/picAbout/jayant.jpg">
							</div>
							<div class="col-md-9">
								<h3>Jayant Talekak | Technology Consultant at IBM</h3>
								<p>Ayushi is a truly exceptional Data analyst who's able to blend deeply-informed design thinking with Digital data strategy. I loved working with Ayushi, because of her ability to create a compelling data visualization, define a realistic roadmap, and set up her team to succeed. 

								Ayushi has an amazing talent for analyzing the complexities of a business problem , and can quickly and accurately identify what is most critical to project delivery. By collaborating with her teammates, she establishes all the right conditions for overall project success. 

								I highly, highly recommend Ayushi's tremendous talents for any Data Analyst or Data Designers role.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<!-- <div class="horL"></div> -->
		
			<!-- <div class="container">
				<div class="row about">
					<div class="col-md-6">
						<div class="about1">
						<div class="col-md-9">
								<h3>Anna Smith, Company Inc.</h3>
								<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.</p>
							</div>
							<div class="col-md-3">
								<img class="testimonial_image" src="images/picAbout/nupur.jpg">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="about2">
						<div class="col-md-3">
								<img class="testimonial_image" src="images/picAbout/nupur.jpg">
							</div>
							<div class="col-md-9">
								<h3>Anna Smith, Company Inc.</h3>
								<p>Nulla consectetur ornare nibh, a auctor mauris scelerisque eu proin nec urna quis justo adipiscing auctor ut auctor feugiat fermentum quisque eget pharetra, felis et venenatis. aliquam, nulla nisi lobortis elit ac.</p>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		
		</div>
	</div>
</div>
